body{
	background: url("../picture/bg_lol.jpg");
	background-attachment: fixed;
	margin: 0;
}

.head_text{
	text-align: center;
	font-size: 64px;
}

.container{
	display: flex;
  	justify-content: center;
}

.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 1200px;
}

.broadcast{
	display: flex;
	flex-wrap: wrap;
	width: 300px;
	border-color: rgba(0,0,0,0);
	border-style: solid;
	border-width: 20px 50px 30px 50px;
}

.channel{
	height: 180px;
	width: 100%; 
	background-image: url("../picture/preview_320x180.jpg"); 
}

.twitcher{
	width: 100%;
	height: 70px;
	display: flex;
	background-color: rgba(0,0,0,0.5);
}

.pic_box{
	width: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.twitcher_pic{
	background-image: url("../picture/twitcher_300x300.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.info{
	width: 220px;
	display: flex;
	flex-wrap: wrap;
}

.twitch_channel, .twitcher_name{
	color: #ffffff;
	height: 20px;
	margin-top: 10px; 
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}